{% extends 'template_base.html' %}
{% load static %}
{% block team %}
<section class="teamSection">
    <div class="containerTeam">
        <a  class="teamLink" href="/r1">
            <p class="teamText">R1</p>
        </a>
    </div>
    <div class="containerTeam">
        <a class="teamLink" href="/r3/">
            <p class="teamText">R3</p>
        </a>
    </div>
    <div class="containerTeam">
        <a class="teamLink" href="">
            <p class="teamText">D1</p>
        </a>
    </div>
    <div class="containerTeam">
        <a class="teamLink" href="">
            <p class="teamText">U17</p>
        </a>
    </div>
    <div class="containerTeam">
        <a class="teamLink" href="">
            <p class="teamText">U15 A</p>
        </a>
    </div>
    <div class="containerTeam">
        <a class="teamLink" href="">
            <p class="teamText">U15 B</p>
        </a>
    </div>
    <div class="containerTeam">
        <a class="teamLink" href="">
            <p class="teamText">U13 A</p>
        </a>
    </div>
    <div class="containerTeam">
        <a class="teamLink" href="">
            <p class="teamText">U13 B</p>
        </a>
    </div>
    <div class="containerTeam">
        <a class="teamLink" href="">
            <p class="teamText">U13 F</p>
        </a>
    </div>
    <div class="containerTeam">
        <a class="teamLink" href="">
            <p class="teamText">U11 A</p>
        </a>
    </div>
    <div class="containerTeam">
        <a class="teamLink" href="">
            <p class="teamText">U11 B</p>
        </a>
    </div>
</section>
{% endblock %}