{% extends 'template_base.html' %}
{% load static %}

{% block footer %}
<footer>
    <div class="parrainerCtn">
        <h1 class="parrainerTitle">
            NOS PARTENAIRES
        </h1>
    </div>
    <div class="footBottom" style="background-color: black;">
        <ul class="secondPartner">
            <li class="img1.1">
                <a class="kpark" href="https://magasins.kpark.fr/56-kpark-compiegne?utm_source=gmb" target="_blank">
                    <img class="parrainerPrivate" src="{% static 'images/Logotype_KparK.png' %}">
                </a>
            </li>
            <li class="img2.2">
                <a class="cosmeticar"
                    href="https://agences.cosmeticar.fr/agence-de-lavage-economique-sans-eau/oise/compiegne-60200/cosmeticar-nord-oise"
                    target="_blank">
                    <img class="parrainerPrivate" src="{% static 'images/QrJKlogo-cosmeticar.jpg' %}">
                </a>
            </li>
        </ul>
    </div>
    <div class="footTop" style="background-color: black; ">
        <ul class="firstPartner">
            <li class="parrainer">
                <a href="https://www.agglo-compiegne.fr/" target="_blank">
                    <img class="parrainerPic" src="{% static 'images/logo-footer.png' %}">
                </a>
            </li>
            <li class="parrainer">
                <a href="https://www.venette.fr/" target="_blank">
                    <img class="parrainerPic" src="{% static 'images/logo.png' %}">
                </a>
            </li>
            <li class="parrainer">
                <a href="https://www.offisport.com/" target="_blank">
                    <img class="parrainerPic" src="{% static 'images/osarc.png' %}">
                </a>
            </li>
            <li class="parrainer">
                <a href="https://www.oise.fr/" target="_blank">
                    <img class="parrainerPic" src="{% static 'images/1200px-Logo_Département_Oise.svg.png' %}">
                </a>
            </li>
            <li class="parrainer">
                <a href="https://www.hautsdefrance.fr/" target="_blank">
                    <img class="parrainerPic" src="{% static 'images/Région_Hauts-de-France_logo_2016.svg.png' %}">
                </a>
            </li>
            <li class="parrainer">
                <a href="https://www.agencedusport.fr/" target="_blank">
                    <img class="parrainerPic" src="{% static 'images/Agence_Nationale_du_Sport_Logo.png' %}">
                </a>
            </li>
            <li class="parrainer">
                <a href="https://www.service-civique.gouv.fr/" target="_blank">
                    <img class="parrainerPic" src="{% static 'images/logo-sc-sign-carre-png-430.png' %}">
                </a>
            </li>
        </ul>
    </div>
</footer>
{% endblock %}