{% extends 'template_base.html' %}
{% load static %}

{% block picTeam %}
<section class="bigPic">
    <img class="allPic" src="{% static 'images/prenat.jpg'%}"/>
</section>
{% endblock %}

{% block teamPlayer %}
<section class="containerPlayer">
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
    <div class="playerCase">
        <div class="vl2"></div>
    </div>
</section>
{% endblock %}